<?xml version = "1.0" encoding = "utf-8"?>

<configuration>
  <applicationSettings>
    <Main.Properties.Settings>
      <setting name = "FilePythonExePath" serializeAs = "String">
        <value>
          C: \ FilePythonExePath \ python.exe
        </value>
      </setting>
      <setting name = "FolderImagePath" serializeAs = "String">
        <value>
          C: \ FolderImagePath \
        </value>
      </setting>
      <setting name = "FilePythonNamePath" serializeAs = "Строка">
        <value>
          C:\ FilePythonNamePat \ image_use_model_pkl_classification_csharp.py
        </value>
      </setting>
      <setting name = "FilePythonParameterName" serializeAs = "String">
        <value>
          -image_path_name
        </value>
      </setting>
    </Main.Properties.Settings>
  </applicationSettings>
</configuration>